$color-1: white;
$color-2: rgb(217, 217, 217);
$color-3: rgb(162, 162, 162);
$color-4: rgb(18, 42, 192);
$color-5: rgb(138, 197, 64);
$color-6: rgba(0, 0, 0, 0.4);
$color-7: rgb(171, 216, 115);
$color-8: rgb(255, 0, 0);
